@import "./base.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

#app > header {
  position: fixed;
  top: 0px;
  width: 100vw;
  background-color: white;
  z-index: 2000;
}

.center {
  max-width: 100vw;
  margin: 0px auto;
}

.layout-wrapper {
  padding: 2rem;
}

button {
  font-family: inherit;
}

.el-button {
  text-transform: uppercase;
}

@media only screen and (min-width: 720px) {
  .center {
    max-width: 105rem;
    padding: 0px 2rem;
    margin: 0px auto;
  }

  header {
    display: block;
    position: initial;
    width: 100%;
    max-width: 100vw;
  }
}
